
body {
    background-color: #0064B4;
    font-family: heading;

}

@font-face {
    font-family: heading;
    src: url("montserrat-regular.ttf");
}
@font-face {
    font-family: quicksandbook;
    src: url("quicksand_book-webfont.ttf") format('truetype');

    font-weight: normal;
    font-style: normal;
}
button{
    font-family: quicksandbook;
    font-size: 1em;
    width:150px;
    height:30px;
    background-color: #0097E7;
    margin:4px;
}
button:focus {outline:0;}

#container{
    /*position: absolute;*/
    max-width:1000px;
    max-height: 600px;
    margin: 0 auto;  
}

#googleMap{
	/*position: absolute;*/
	min-width:900px;
	min-height:400px;
	/*z-index: 1;*/
    border-top:3px solid #e45544;
    border-right:6px solid #e45544;
    border-left:6px solid #e45544;
    border-bottom:3px solid #e45544;  

	}
#infoPane{
    /*font-weight: bold;*/
    background-color: #FFF;
    color: #000000;

    /*position: absolute;*/
    min-width:900px;
    min-height:100px;
    /*z-index: 2;*/
    text-align: center;
    padding:0px 5px 5px 5px;
    border-top:6px solid #e45544;
    border-right:6px solid #e45544;
    border-left:6px solid #e45544;
    border-bottom:3px solid #e45544;
    margin:0 auto;
  }
.title{
    font-family: heading;
}
.namesList{
    font-family: quicksandbook;
    font-size: .7em;
    display: inline-block;
    position: relative;
    /*border:1px dashed black;*/
    min-width: 154px;
    max-width: 154px;
    min-height: 158px;
    max-height: 158px;
    /*float:center;*/
    text-align: left;
    overflow-y: scroll;
    overflow-x: scroll;
    border-right:2px solid #e45544;
    margin-top: 3px;
}
#namePane{
    /*font-weight: bold;*/
    background-color: #FFF;
    color: #000000;
    
    /*position: fixed;*/
    /*min-width:900px;*/
    min-height:160px;
    max-width:1000px;
    max-height:160px;
    /*z-index: 2;*/
    text-align: center;
    padding:0px 5px 5px 5px;
    border-top:3px solid #e45544;
    border-right:6px solid #e45544;
    border-left:6px solid #e45544;
    border-bottom:6px solid #e45544;
    margin:0 auto;
    /*overflow-y: scroll;*/
  }

